h2 {
    text-align: center;
    color: rgb(34, 34, 212);
    border: dotted 5px rgb(69, 69, 238);
    background-color: #d3b7f8;
}

body {
    background-image: linear-gradient(to bottom right, rgb(223, 171, 247), rgb(240, 239, 240))
   
}
   
#select-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 20px;
    padding-bottom: 25px;
    color: rgb(44, 7, 59);
    border: dotted 5px white;
    margin-top: 15px;
    background-image: radial-gradient(circle at center, rgb(179, 195, 248), rgb(248, 208, 241));
    font-style: bold;
    font-weight: 200px;
}

.get-buttons {
     color: rgb(46, 46, 177);
     border: ridge 5px rgb(213, 177, 243);
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#evve-icon {
 width: 111px;
 border: ridge 5px rgb(167, 82, 236);
 filter: brightness(105%)
}

#ponyta-icon {
    width: 120px;
    border: ridge 5px rgb(167, 82, 236);
    filter: brightness(105%)
}

#dragonair-icon {
    width: 95px;
    border: ridge 5px rgb(167, 82, 236);
    filter: brightness(105%)
}

#vulpix-icon {
    width: 108px;
    border: ridge 5px rgb(167, 82, 236);
    filter: brightness(105%)
}

#ninetales-icon {
    width: 110px;
    border: ridge 5px rgb(167, 82, 236);
    filter: brightness(105%)
}

#springatto-icon {
    width: 110px;
    border: ridge 5px rgb(167, 82, 236);
    
}

.pokemon-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#list {


}